.splash
  %h1
    CONGRATULATIONS TO 
    %span.winner
    !
  %p Everyone else must be feeling pretty good right about now.
  %p Please be safe, and thanks for playing.
  
  = link_to('Play Again?', '#', :class => 'button large go', :id => 'new_game')