.splash
  %h1 
    Your 
    %strong 
    Term has ended
  
  %p Here are the the new positions Remember, 1st one to reach 11 points wins!
  #president
    %strong
    can now make rules!
    
  %ol#positions
  
  %p= link_to("Play the next term!", "#", :id => "play_term", :class => "button large go")