#welcome.splash
  .birdie
  %h1 Twithole Game
  %p Twithole is the fun new twitter based party game.
  %ol
  %li Invite 2-7 friends over
  %li Grab your favorite drink
  %li and go.
  
  %p= link_to("Play Now and Learn as You Go!", "#", :id => "play_game", :class => "button large")
  %p= link_to("or check out the rules first", "#", :id => "rules_link")