* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #ebfbff; }

a img, img {
  border: 0; }

a:active, a:focus {
  outline: none; }

ol, ul {
  margin-left: 20px; }

#wrapper {
  min-height: 100%;
  padding: 20px; }

.center {
  text-align: center; }

#welcome {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  width: 0px;
  height: 0px;
  color: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

.splash {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  width: 0px;
  height: 0px;
  color: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

#new_player_form {
  width: 550px;
  height: 400px; }

#start_screen {
  width: 300px;
  height: 300px; }

#setting_player {
  width: 400px;
  height: 100px; }

.question {
  width: 800px;
  height: 250px; }

#welcome a {
  color: #ebfbff;
  margin: 0 10px; }

.field {
  margin: 10px; }

.field label {
  font-size: 18px; }

.field .playername {
  border: 1px solid black;
  font-size: 20px;
  padding: 3px; }

#players {
  list-style: none; }

#players li {
  float: left;
  margin-right: 10px; }

#players .player {
  background-color: white;
  border: 1px solid black;
  padding: 4px; }

#players .player.current {
  background-color: #baff9b !important;
  border: 1px solid #388813 !important; }

#footer {
  padding: 20px 0 50px;
  text-align: center;
  color: #658896;
  font-size: 14px; }

#footer a {
  color: #658896; }
