%h1 Twithole Game FAQ

%p Q: Where do the questions for the game?
%p.faq_a A: Twithole uses the Twitter Streaming API to collect tweets in real time. We categorize each tweet for different types of questions and display them for players.

%p Q: Are these real tweets?
%p.faq_a A: Yes, all twithole content is taken from real tweets. 

%p Q: How do you know the answers are correct?
%p.faq_a A: Because we asked it, dummy.

%p Q: Does Twithole tweet anything on my behalf if I use my twitter handle?
%p.faq_a A: No, if you give us your twitter handle, we only use it to pull in a profile picture.

%p Q: How old are the tweets used in Twithole?
%p.faq_a A: All question content was tweeted within the the last 24 hours.