.splash
  .birdie
  %h1.center Official Twithole Game Rules
  .scroll-overflow
    .text_left
      %p Twithole is the fun new party game that uses Twitter for question content. It's inspired by the card game #{link_to('Asshole', 'http://en.wikipedia.org/wiki/Asshole_(card_game)')}, Twithole is the cool because:

      %ol
      %li Twithole uses real time data from Twitter
      %li Each game of Twithole is different, we never displays the same question twice
      %li Twithole allows you to boss your friends around
      %li Twithole is funny, makes you laugh and that's good for your soul

      %h2 Twithole Object

      %p Simply put, your goal is to answer your questions correctly and get to zero birdseed before the other players. The first player to zero bird seed is awarded 2 points, the second player to zero bird seed is awarded 1 point. A Twithole game ends when a player reaches 11 points. 

%p Simply put, your goal is to answer your questions correctly and get to zero bird seed before the other players. The first player to zero bird seed is awarded 2 points, the second player to zero bird seed is awarded 1 point. A Twithole game ends when a player reaches 11 points. 

      %p Stop reading and start playing. It's easy.


      %h2 What You Need
      %ol
      %li To play Twithole you need at least 2 real friends. (You know, the ones that actually come over to your house.) Not that we have anything against your immense popularity on the internet, you'll just to be in the same room together.
      %li The maximum number of players is 8.
      %li Each player needs a beverage to drink during the game. ALCOHOLIC BEVERAGES ARE NOT REQUIRED.
      %li In case your slow to the party, you're also going to need a computer and internet access. 

      %p#tip Pro Tip: The bigger the screen the better. Especially with 5+ players. Twithole is great when viewing on your HDTV and using a remote mouse like #{link_to 'Mobile Mouse', 'http://www.mobilemouse.com/'} for the iPhone.

      %h2 Twithole Game Flow
      %ol
      %li Twithole Round: players 1-n answer one question each.
      %li Twithole Term: All players, but one achieve 0 bird seed.
      %li Twithole Game Winner: First player to achieve 11 Twithole Points.

      %p Each player starts with 140 bird seed. When the game begins, playing order is randomly determined.

      %p#tip Pro Tip: Move seats based on the order displayed by Twithole. Chose as seat in front of your name.

      %h3 Twithole Questions

      %p Questions are multiple choice and automatically pulled from the Twitter Stream. All question are weighted based on the difficulty of the questions category.
      %ul
      %li Correct Answer: Player's bird seed is reduced by the question weight.
      %li Wrong Answer: Player must take a drink of their beverage, bird seed remains the same.

      %p A term will continue until all but one player have 0 bird seed. At that point the last player with bird seed is the Twithole. At the end of the Term, each player earns a Title.

      %h3 Twithole Titles 
      %ul
        %li President: The first player to reach 0 bird seed.
        %li Vice President: The second player to reach 0 bird seed.
        %li Twithole: The last player with bird seed left.
        %li Citizen: All other players.
        
      %h3 Twithole Points
      %p At the end of Term, points are awarded to both President and Vice President.
      %ul
      %li President +2 Points
      %li Vice President +1 Point

      %p#tip Pro Tip: Twithole Points are important and determine the Game Winner.
        
      %h3 President Rules
      %p At the end of each Term, the President may exercise their power and create a President's Rule. A President's Rule persist throughout the game and there will typically be more than one rule in effect at any given time. A president may decline to make a new Rule or choose to cancel/modify an existing Rule.

      %p Breaking Rules: Punishment for breaking rules is typically taking a drink, but may be other things the . Twithole does not operate on the honor system, if you're not caught breaking a Rule by other players, you don't have to 
        
      %p Based on the titles, player positions are reordered with President receiving the first question in the next Term. 

      %h3 Twithole Game Winner
      %p Terms will continue to be played until a Player reaches 11 points. 

      %h2 The Spirit Of Twithole
      Twithole is intended to be a fun and safe game. Players of Twithole must

%h2 The Spirit Of Twithole
Twithole is intended to be a fun and safe game. Players of Twithole must must be play the game in good spirit and not harm others with abusin
  %br
  = link_to("Back to Game", "#", :id => "back_to_game", :class => "button")
